/* Desktop screen styles */

@media (min-width: 768px) {
    /* Mission / Vission */

    .mission{
        width: 48%;
    }

    .tab{
        width: 400px;
        margin: 0 80px 0 0;
    }

    .tab::after,
     button.tab::after{
        content: '';
        position: absolute;
        top: 40%;
        left: 100%;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;  
        border-left: 10px solid #13afeb;
    }

    button.tab{
        display: block;
        width: 100px;
        height: 70px;
        text-align: center;
        margin-top: 1rem;
        background-color: #ccc;
        border: none;
    }

    button.tab::after{
        border-left-color: #ccc;
    }

    button.tab.active{
        background-color: #13afeb;
    }

    
    button.tab.active::after{
        border-left-color: #13afeb;
    }


    /* Services */
    .column{
        width: 50%;
    }
    .column1{
        text-align: right;
        border-right: 1px solid #fff;
    }
    .column2{
        text-align: left;
    }

    #gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    #gallery img{
        margin-top: 0;
    }


}